#bubble {
    font-size: 25px;
    font-family: Comic Sans MS, Verdana, monospace;
    color: #ffffff;
    font-weight: bold;
}
#bubble1 {
    font-size: 25px;
    font-family: Comic Sans MS, Verdana, monospace;
    color: #ffffff;
    font-weight: bold;
}
